.whiteBg {
    background: rgb(40, 44, 52);
    width: 100%;
}
.transparent {
    background: transparent;
}
.green {
    color: lawngreen!important;
    line-height: 1rem;
}
.red {
    color: rgb(249, 24, 128)!important;
    line-height: 1rem;
}
.green label {
    margin-right: 5px;
}
.red label {
    margin-right: 5px;
}

.additionalInf {
    position: absolute;
    transition: opacity .4s ease-in-out;
    min-height: 70px;
    justify-content: space-around;
    display: flex;
    box-shadow: rgba(136, 153, 166, 0.2) 0px 0px 15px,
    rgba(136, 153, 166, 0.15) 0px 0px 3px 1px;
    align-items: center;
    border-radius: 30px;
    flex-direction: column;
    top: -100vh;
    bottom: auto;
    opacity: 0;
    z-index: 99;
    right: -10px;
    width: 200%;
    padding: 20px;
    background: #181818;
}
.additionalInfActive {
    transition: opacity .4s ease-in-out;
    z-index: 99;
    right: -10px;
    width: 200%;
    padding: 20px;
    bottom: auto;
    opacity: 1;
    top: 137%;
    position: absolute;
    min-height: 70px;
    justify-content: space-around;
    display: flex;
    box-shadow: rgba(136, 153, 166, 0.2) 0px 0px 15px,
    rgba(136, 153, 166, 0.15) 0px 0px 3px 1px;
    align-items: center;
    border-radius: 30px;
    flex-direction: column;
    background: #181818;
    min-width: 350px;
}
.additionalInfActive::after {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: -10px;
    right: 28px;
    transform: rotate(45deg);
    background: #181818;
    z-index: 10008;
}