.whiteBg {
    background: rgb(40, 44, 52);
    width: 100%;
}
.transparent {
    background: transparent;
}
.green {
    color: lawngreen!important;
    line-height: 1rem;
}
.red {
    color: rgb(249, 24, 128)!important;
    line-height: 1rem;
}
.green label {
    margin-right: 5px;
}
.red label {
    margin-right: 5px;
}