*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    font-size: 10px;
}

aside,
dialog,
figure,
header,
main,
nav {
    display: block;
}

[tabindex="-1"]:focus {
    outline: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul ul {
    margin-bottom: 0;
}

dd {
    margin-bottom: 0.5rem;
    margin-left: 0;
}

b {
    font-weight: bolder;
}

small {
    font-size: 8rem;
}

a {
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
    outline: 0;
}

figure {
    margin: 0 0 1rem;
}

img {
    vertical-align: middle;
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

.control-label {
    display: inline-block;
    line-height: 1.75rem;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 1.4rem;
    transition: all 0.3s ease-in-out;
}
button {
    border-radius: 0;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

button,
input,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button {
    text-transform: none;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
    -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"] {
    -webkit-appearance: listbox;
}

textarea {
    overflow: auto;
    resize: vertical;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    outline-offset: -2px;
    -webkit-appearance: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}

[hidden] {
    display: none !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

.h1,
h1 {
    font-size: 2rem;
}

.h2,
h2 {
    font-size: 2rem;
}

.h3,
h3 {
    font-size: 1rem;
}

.h4,
h4 {
    font-size: 1rem;
}

.h5,
h5 {
    font-size: 1rem;
}

.h6,
h6 {
    font-size: 1rem;
}

.flex {
    display: flex;
    align-items: center;
}
.between {
    justify-content: space-between;
}
.center {
    justify-content: center;
}
.column {
    flex-direction: column;
}

.small,
small {
    font-size: 0.8rem;
    font-weight: 400;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

.list-inline-item {
    display: inline-block;
}

.list-inline-item:not(:last-child) {
    margin-right: 0.5rem;
}

.figure {
    display: inline-block;
}

.figure-img {
    margin-bottom: 0.5rem;
    line-height: 1;
}

.container {
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1400px;
    }
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -1.5rem;
    margin-left: -1.5rem;
}

.form-text {
    display: block;
    margin-top: 0.25rem;
}

.form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.form-row > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
}

.form-inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (min-width: 576px) {
    .form-inline label {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 0;
    }
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

.nav-link:focus,
.nav-link:hover {
    text-decoration: none;
}

.nav-link.disabled {
    color: #6c757d;
}

.nav-fill .nav-item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-link:hover {
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.media-body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.font-italic {
    font-style: italic !important;
}

.text-white {
    color: #fff !important;
}

.text-primary {
    color: #007bff !important;
}

a.text-primary:focus,
a.text-primary:hover {
    color: #0062cc !important;
}

.text-secondary {
    color: #6c757d !important;
}

a.text-secondary:focus,
a.text-secondary:hover {
    color: #545b62 !important;
}

.text-info {
    color: #17a2b8 !important;
}

a.text-info:focus,
a.text-info:hover {
    color: #117a8b !important;
}

.text-light {
    color: #f8f9fa !important;
}

a.text-light:focus,
a.text-light:hover {
    color: #dae0e5 !important;
}

.visible {
    visibility: visible !important;
}

input.border:focus {
    box-shadow: 0px 1rem 2rem -13px rgb(255 255 255 / 35%);
}

input.border:hover {
    border-color: #3d9cff;
}

input.border {
    width: 100%;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #ced6e0;
    transition: all 0.3s ease-in-out;
    font-size: 1.8rem;
    line-height: 18px;
    color: #fff;
    padding: 0.6rem 1.5rem;
    background: none;
    font-family: "Source Sans Pro", sans-serif;
}
input.border.error {
    border-color: #f94444;
}
body {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: rgb(247, 249, 249);
    background: #181818;
    max-height: 100vh;
}

p {
    font-size: 1.4rem;
    line-height: 26px;
    color: #8c8b8b;
}

ul {
    padding-left: 0;
}

a {
    color: rgb(247, 249, 249);
}

a,
a:hover,
a:focus,
a:active {
    color: inherit;
    outline: none;
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    -ms-text-decoration: none;
    -o-text-decoration: none;
    text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}

img {
    height: auto;
    max-width: 100%;
}

.wrapper {
    text-align: center;
}

[type="submit"],
button,
html [type="button"] {
    cursor: pointer;
}

textarea {
    resize: none;
}

a:hover.facebook {
    background: #516eab;
}

a:hover.instagram {
    background: #444;
}

a:hover.twitter {
    background: #55acee;
}

a:hover.youtube {
    background: #e62117;
}

.checked {
    color: orange;
}

.ps__rail-y {
    z-index: 100;
}

.form-group {
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    display: inline-block;
    flex: 1;
    position: relative;
}
.links-form .form-group {
    width: 100%;
}
.flex .form-group:first-child {
    margin-right: 20px;
}
.main-logo {
    margin: 40px 0px 40px 2rem;
    display: flex;
    align-items: center;
}

.main-logo__image {
    max-width: 3rem;
    display: block;
}

.main-logo__text {
    font-size: 1.6rem;
    font-weight: 900;
    margin-left: 1rem;
}

/*--- timeline area ---*/

.feature-photo {
    display: block;
    position: relative;
    width: 100%;
}

.feature-photo > figure {
    margin-bottom: 0;
    position: absolute;
    overflow: hidden;
    max-height: 100%;
    width: 100%;
}

.feature-photo > figure img {
    display: block;
    width: 100%;
    position: relative;
    top: -282px;
}

.user-avatar {
    position: relative;
    width: 20%;
}

.user-avatar > figure > img {
    width: 100%;
}

.user-avatar > figure > img.preloader {
    height: 147px;
}

.user-avatar > figure {
    margin-bottom: 0;
    position: relative;
    top: -50%;
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 3px solid #181818;
    border-radius: 50%;
    overflow: hidden;
}

.timeline-info {
    width: 100%;
    padding: 0 4rem;
    position: relative;
    background: #181818;
}

.bg {
    display: flex;
    padding: 25.5% 0 0 0;
    background: linear-gradient(
        90deg,
        rgba(131, 58, 180, 1) 0%,
        rgba(253, 29, 29, 1) 50%,
        rgba(252, 176, 69, 1) 100%
    );
    position: relative;
    margin-bottom: 3rem;
}

.timeline-info .timeline-info__container {
    display: flex;
    list-style: outside none none;
    width: 100%;
    padding: 2rem 2rem 0 2rem;
    position: relative;
}

.timeline-info .timeline-info__container form {
    display: flex;
    width: 100%;
}

.profile-status {
    max-width: 140px;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    position: relative;
    text-overflow: ellipsis;
}

.timeline-info__container form .profile-status {
    top: 45% !important;
}

.timeline-info .timeline-info__container .timeline-info__row {
    display: inline-block;
    margin-right: 2rem;
    position: relative;
}

form .timeline-info__row:last-child {
    width: 100%;
}

.timeline-info .form-group {
    margin: 0px;
    display: block;
}

.lookingForAJobDescription {
    font-size: 1.6rem;
    line-height: 16px;
    display: block;
    color: rgb(255 255 255);
    margin-bottom: 1.5rem;
}

.lookingForAJobDescription-edit {
    margin-bottom: 3rem;
}

.lookingForAJobDescription-edit textarea {
    background: inherit;
    border: none;
    color: #fff;
    border-bottom: 0.0625rem solid #e1e8ed;
    height: auto;
}

button.add-butn.white {
    height: 35px;
    background: transparent;
    border: 1px solid #fff;
    transition: all 0.3s ease-in-out;
    margin-left: 1rem;
}

button.add-butn.white:hover {
    background: rgba(255, 255, 255, 0.2);
}

button.add-butn.transparent {
    background: transparent;
    border: 2px solid #fff;
    padding: 0.8rem 3rem 1.2rem 3rem;
}

button.add-butn.transparent:hover {
    color: #181818;
    box-shadow: none;
    background: #fff;
}

.timeline-info .timeline-info__container .timeline-info__row a {
    display: inline-block;
    font-size: 1.4rem;
    margin-right: 3rem;
    position: relative;
    line-height: initial;
    text-transform: capitalize;
    padding-bottom: 0.3rem;
    font-weight: 400;
}

.timeline-info .timeline-info__container .timeline-info__row a:last-child {
    margin-right: 0;
}

.admin-name {
    position: relative;
}

.edit-profile-form .admin-name {
    width: min-content;
    width: -moz-min-content;
}

.profile-preloader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20vh;
    height: 100vh;
}

.admin-name .status__wrapper input,
.admin-name .status__wrapper span {
    font-size: 1.3rem;
    line-height: 1.5rem;
    display: flex;
    right: 0;
    color: rgba(183, 183, 183, 0.8);
    cursor: pointer;
    position: absolute;
    align-items: center;
    bottom: 0;
    left: 0;
    width: auto;
    max-width: none;
}

.admin-name .status__wrapper input {
    bottom: -1rem;
}

.status__wrapper input {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    max-width: 13rem;
    border-radius: 2rem;
    color: #fff;
}

.profile-status input,
.admin-name .status__wrapper input,
.status__wrapper .status input {
    color: rgb(247, 249, 249);
    background: transparent;
    border: 2px solid #303030;
    padding: 0.2rem 1.5rem;
    border-radius: 1rem;
    left: -3px;
}

.links-form .form-group {
    margin-bottom: 35px;
}

.links-form .form-group:first-child {
    margin-top: 35px;
}

.admin-name h5 {
    display: inline-block;
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 0;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
    display: block;
}

.edit-profile-buttons {
    margin-top: 2rem;
}

.edit-profile-form .admin-name h5 {
    padding-bottom: 3rem;
    margin-bottom: 2rem;
}

.timeline-info .timeline-info__container .timeline-info__row a::after {
    border-bottom: 8px solid;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: -12px;
    content: "";
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    display: none;
}

.timeline-info .timeline-info__container .timeline-info__row a.active::after {
    display: block;
}

.timeline-info .timeline-info__container .timeline-info__row a:hover::before {
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.edit-phto {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    bottom: 100px;
    color: #fff;
    left: 275px;
    padding: 0.5rem 2rem;
    position: absolute;
    z-index: 9;
    border-radius: 3px;
    border: 1px solid transparent;
}

.edit-phto:hover {
    background: transparent none repeat scroll 0 0;
    border: 1px solid;
    color: #fff;
}

.fileContainer {
    color: #d8d8d8;
    font-size: 1.1rem;
    margin: 0 0 0 5px;
    position: relative;
    text-transform: capitalize;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fileContainer [type="file"] {
    cursor: pointer;
    display: block;
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    right: 0px;
    text-align: right;
    top: 0;
    width: 100%;
    overflow: hidden;
}

.edit-phto .fileContainer [type="file"] {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.timeline-info .user-avatar .edit-phto {
    border-radius: 0;
    bottom: 0px;
    font-weight: bold;
    cursor: pointer;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    transition: all 0.3s linear 0s;
    padding: 0.5rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    border: none;
    color: inherit;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-avatar:hover .edit-phto {
    opacity: 1;
    visibility: visible;
}

/*--- sidebar widgets ---*/

.widget__wrapper {
    padding: 0 0 0 1.5rem;
    border-radius: 3rem;
    background: #242424;
    margin: 2rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 20vh;
}

.widget__wrapper .dialog-header.see-all {
    padding: 2rem 2rem;
}

.sidebar {
    height: 100vh;
    flex: 0 0 20%;
    max-width: 20%;
}

.sidebar.right {
    flex: 0 0 24%;
    max-width: 24%;
}

.sidebar .widget {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.sidebar .widget:last-child {
    margin-bottom: 0;
}

.sidebar .widget-title {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #424242;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 3rem;
    padding: 2rem 2rem 1rem;
    position: relative;
    text-transform: uppercase;
    width: 100%;
}

.sidebar .widget-title::before {
    bottom: 0;
    content: "";
    height: 2px;
    left: 2rem;
    position: absolute;
    width: 20%;
}

.sidebar .widget .naves .naves-links__item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 1.5rem 2.5rem 1.5rem 2rem;
    transition: all 0.3s ease-in-out;
    border-radius: 50px;
    width: max-content;
}

.sidebar .widget .naves .naves-links__item:hover {
    transition: all 0.3s ease-in-out;
    background: rgba(255, 255, 255, 0.1);
    color: rgb(247, 249, 249);
}

.sidebar .widget .naves .naves-links__item:last-child {
    margin-bottom: 0;
}

.active {
    background: rgba(255, 255, 255, 0.2);
}

.sidebar .widget .naves svg,
.sidebar .widget .naves .naves-links__item img {
    color: rgb(247, 249, 249);
    display: inline-block;
    font-size: 1.6rem;
    margin-bottom: 2px;
    margin-right: 7px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}

.sidebar .widget .naves .naves-links__item span {
    font-size: 2.1rem;
    text-transform: capitalize;
    display: inline-block;
    position: relative;
    font-weight: 500;
}

.sidebar .widget .naves .naves-links__item span svg {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    color: #fff;
    font-size: 2.5rem;
}

.sidebar .widget naves {
    display: flex;
    flex-direction: column;
}

.sidebar .widget naves a svg {
    display: inline-block;
    font-size: 2rem;
    vertical-align: baseline;
    margin-right: 1rem;
}

.central-meta {
    /*background: #E6EEFA none repeat scroll 0 0;*/
    display: inline-block;
    flex: 0 0 56%;
    max-width: 56%;
    min-width: 56%;
    border-left: 1px solid #303030;
    border-right: 1px solid #303030;
}

.central-meta.messages {
    flex: 0 0 75%;
    max-width: 75%;
}

.new-postbox {
    display: inline-block;
    width: 100%;
    padding: 0 0 2rem 0;
}

.new-postbox > figure {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: top;
    width: 10.4%;
}

.newpst-input {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-left: 0;
}

.newpst-input > form {
    display: inline-block;
    width: 100%;
}

.newpst-input textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    background: none;
    color: #ffffff;
    border-radius: 0px;
    height: 40px;
}

.attachments {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 0 0 1rem;
}

.attachments .add-butn {
    margin: 0;
}

.attachments .icons svg {
    margin-right: 1rem;
}

textarea {
    border: 1px solid #eeeeee;
    border-radius: 6px 6px 0 0;
    padding: 1rem 0;
    width: 100%;
    border-bottom: 0;
}

form button {
    border: medium none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0.3rem 1rem;
}

.attachments .fileContainer [type="file"] {
    right: 6px;
    top: -18px;
    width: 2rem;
}

.friend-info {
    display: inline-block;
    position: relative;
    width: 100%;
}

.friend-info > figure {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    width: 6%;
}

.friend-name {
    display: inline-block;
    padding-left: 1rem;
    vertical-align: middle;
    width: 90%;
}

.friend-name > ins {
    font-weight: 700;
    width: 100%;
    font-size: 1.8rem;
    text-decoration: none;
}

.friend-name > span {
    color: #999;
    font-size: 1.2rem;
    text-transform: capitalize;
    width: 100%;
    padding-left: 1rem;
}
.user-post {
    margin-top: 3rem;
}
.post-meta {
    margin-top: 1.5rem;
    width: 100%;
}

.post-meta > img {
    width: 100%;
}

.description {
    margin-top: 2rem;
    width: 100%;
}

.description > p {
    margin-bottom: 2rem;
}

.description > span {
    color: #2a2a2a;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 28px;
    display: inline-block;
    margin-bottom: 5px;
}

.description > p a {
    font-weight: 600;
}

/*-- sharing post area ----*/

.we-video-info {
    padding: 1.5rem 0 1rem;
    width: 100%;
    position: relative;
    z-index: 0;
}

.we-video-info > ul {
    width: 100%;
    line-height: 27px;
    padding-left: 0;
    margin-bottom: 0;
}

.profile-buttons {
    padding-top: 2rem;
}

.profile-buttons .whiteBg {
    margin-left: 1rem;
}

.additional-profile-info {
    position: absolute;
    right: 3rem;
    top: 140px;
    display: flex;
}

.additional-profile-info .whiteBg {
    margin-left: 1rem;
}

.social-media {
    display: flex;
    background: rgba(0, 0, 0, 0.6);
    padding: 1rem 2rem 1rem 2rem;
    align-items: center;
    border-radius: 2rem;
    line-height: initial;
    margin-right: 1rem;
    position: relative;
}
.social-media span {
    padding-right: 10px;
}
.social-media .form-group {
    margin: 1.5rem 0;
}

.social-media__element {
    margin-right: 1rem;
    cursor: pointer;
    z-index: 99;
    transition: all 0.2s ease-in-out;
}

.social-media__element:last-child {
    margin-right: 0px;
}

.social-media__element:hover {
    color: rgb(183 183 183);
}

.we-video-info > ul li {
    display: inline-block;
    font-size: 1.3rem;
    margin-right: 40px;
}

.we-video-info > ul li span {
    font-size: 1.6rem;
    font-weight: 400;
    margin-right: 3px;
    position: relative;
}

.we-video-info > ul li span.dislike {
    color: red;
    cursor: pointer;
    transition: all 0.2s linear 0s;
}

.we-video-info > ul li span ins {
    font-size: 1.1rem;
    left: 2rem;
    position: absolute;
    text-decoration: none;
    top: -1rem;
}

.we-video-info > ul li span.like {
    color: green;
    cursor: pointer;
    transition: all 0.2s linear 0s;
}

.we-video-info
    > ul
    li
    span.like:hover
    .we-video-info
    > ul
    li
    span.dislike:hover {
    trnsform: scale(1.1);
}

/*--- search friend widget ---*/

#people-list {
    margin-top: 2rem;
    max-height: 450px;
    position: relative;
}

#people-list figure {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    width: 23%;
    position: relative;
}

span.status {
    background: #bebebe none repeat scroll 0 0;
    border-radius: 50%;
    bottom: 0;
    display: inline-block;
    height: 12px;
    padding: 0.2rem;
    position: absolute;
    right: 0;
    width: 12px;
}

span.status::after {
    background: white none repeat scroll 0 0;
    border-radius: 100%;
    content: "";
    height: 6px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
}

span.status.f-off {
    background: #a9a9a9;
}

/*-- widgets ---*/

/*-- short profile widget ---*/

/*--- social widget ---*/

li.facebook {
    background: #2f5b9d;
}

li.twitter {
    background: #38bff1;
}

.nearby-contct {
    display: inline-block;
    list-style: outside none none;
    margin-bottom: 0;
    max-width: 100%;
    width: 100%;
    height: 92vh !important;
}

.nearby-contct .whiteBg {
    margin-right: 2rem;
}

.nearby-contct > .opacity-animation {
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
    position: relative;
    width: 100%;
    transition: all 0.15s linear 0s;
    border-bottom: 1px solid #303030;
}

.nearby-contct > div:last-child {
    margin-bottom: 0;
}

.nearby-contct > .preloader {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 10%;
}

.nearby-contct > div:hover {
    background: rgba(255, 255, 255, 0.1);
}

.nearly-pepls {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2rem;
}

.nearly-pepls > figure {
    display: inline-block;
    margin-bottom: 0;
    max-width: 60px;
    min-width: 60px;
    width: 60px;
}

.messages .nearly-pepls > figure {
    max-width: 50px;
    min-width: 50px;
    vertical-align: middle;
    width: 50px;
}

.messages .add-butn {
    padding: 0.7rem 2.5rem;
    font-size: 1.3rem;
}

.messages .pepl-info > h4 {
    font-size: 1.5rem;
}

.messages .pepl-info > span {
    font-size: 1.2rem;
}

.pepl-info {
    display: inline-block;
    padding-left: 1.5rem;
    position: relative;
    vertical-align: middle;
    width: 88%;
}

.pepl-info > h4 {
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 0;
    display: block;
    position: relative;
    text-overflow: ellipsis;
    max-width: 93%;
    overflow: hidden;
}

.add-butn {
    color: #fff;
    font-size: 1.3rem;
    line-height: initial;
    padding: 1rem 4rem;
    max-height: 35px;
    margin: auto 0;
    bottom: 0;
    border: none;
    font-weight: 500;
    border-radius: 2rem;
    box-shadow: none;
    background: #5790df;
    transition: all 0.3s ease-in-out;
}

.add-butn:hover {
    box-shadow: 0px 0px 2rem rgba(87, 144, 223, 0.5);
    transition: all 0.3s ease-in-out;
    color: #e0e0e0;
}

.add-butn:disabled {
    background: #b1b1b1;
    cursor: not-allowed;
}

.add-butn.whiteBg {
    background: #fff;
    color: #181818;
}

.add-butn.whiteBg:disabled {
    background: #b1b1b1;
    color: #fff;
}

.pepl-info > span {
    font-size: 1.3rem;
    text-transform: capitalize;
    width: 100%;
    line-height: initial;
}

.lookingForAJob {
    padding: 2rem 0 1rem 0;
    line-height: 14px;
}

form .lookingForAJob {
    padding-top: 0;
}

/*--- messages page ---*/

.message-box {
    display: inline-block;
    width: 100%;
}

.peoples {
    border-right: 1px solid #303030;
    display: inline-block;
    list-style: outside none none;
    margin-bottom: 0;
    padding-left: 0;
    position: relative;
    width: 35%;
    max-width: 35%;
    height: 100vh;
}

.messages-page-dialogs {
    width: 100%;
    max-width: 100%;
    max-height: 87.5vh;
}

.dialogs-list {
    max-height: 87.7vh;
    overflow-y: auto;
}

.peoples .dialogs-list__item {
    border-bottom: 1px solid #303030;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 1.5rem;
    width: 100%;
    position: relative;
    transition: all 0.2s linear 0s;
}

.last-activity {
    position: absolute;
    font-size: 1.3rem;
    right: 1.5rem;
    top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(183 183 183);
}

.peoples .dialogs-list__item:hover {
    background: rgba(255, 255, 255, 0.1);
}

.peoples .dialogs-list__item figure {
    display: inline-block;
    margin-bottom: 0;
    max-width: 45px;
    min-width: 45px;
    vertical-align: middle;
    width: 45px;
    position: relative;
}

.sidebar .peoples {
    width: 100%;
    max-width: none;
    height: auto;
    border: none;
    max-height: 82vh;
    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
    padding-right: 1.5rem;
}

.sidebar .peoples .dialogs-list__item:last-child {
    border-bottom: none;
}

.people-name {
    display: inline-flex;
    margin-left: 1.5rem;
    flex-direction: column;
    width: 66%;
}

.dialog-header {
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 1.5rem;
    max-width: 60%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    position: relative;
    text-overflow: ellipsis;
}

.link {
    color: rgb(87 144 223 / 70%);
    transition: all 0.3s ease-in-out;
    text-decoration: underline;
    cursor: pointer;
}

.link:hover {
    color: rgb(87 144 223 / 100%);
}

.people-name > .dialog-message-text {
    display: inline-block;
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: 400;
    line-height: 14px;
    margin-top: 12px;
    color: rgb(183 183 183);
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.people-name > svg {
    background: lightcoral none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 1.1rem;
    line-height: initial;
    padding: 0 0.5rem;
    position: relative;
    right: -2rem;
}

.peoples .dialogs-list__item span.status {
    left: 0;
}

.peoples-mesg-box {
    display: inline-block;
    vertical-align: top;
    width: 65%;
    resize: horizontal;
    max-width: 65%;
    position: relative;
}

.peoples-mesg-box ul.chatting-area {
    list-style: outside none none;
    margin-bottom: 0;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    height: 87%;
    display: flex;
    flex-direction: column;
    /*justify-content: end;*/
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("../img/chat-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem 0.5rem;
}

.chatArea {
    position: relative;
    height: 100vh;
}

.peoples-mesg-box ul li {
    display: inline-flex;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 1rem;
    animation: message;
    animation-duration: 0.3s;
}

@keyframes message {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.message-added-time {
    position: absolute;
    right: 1rem;
    bottom: 12px;
    font-size: 0.9rem;
    color: rgb(225 225 225);
}

.peoples-mesg-box ul li.you p .message-added-time {
    right: initial;
    left: 1rem;
    bottom: 14px;
}

.peoples-mesg-box ul li figure {
    display: inline-block;
    margin: 0px 1rem;
    max-width: 32px;
    min-width: 32px;
    width: 32px;
    vertical-align: top;
}

.peoples-mesg-box ul li p {
    display: inline-block;
    font-size: 1.5rem;
    line-height: initial;
    margin-bottom: 0;
    vertical-align: top;
    width: auto;
    position: relative;
    max-width: 50%;
}

.peoples-mesg-box ul li p .text {
    overflow-wrap: break-word;
}

.peoples-mesg-box ul li p::after {
    top: 6px;
    border-right-color: rgba(202, 239, 142, 0.65);
}

.peoples-mesg-box ul li.you p {
    background: #e6eefa;
    border-radius: 3rem 3rem 3rem 0px;
    padding: 1.2rem 1.8rem 1.2rem 4rem;
    color: #181818;
}

.peoples-mesg-box ul li.you p .message-added-time {
    color: rgb(30 30 30);
}

.peoples-mesg-box ul li.me {
    direction: rtl;
    text-align: right;
}

.peoples-mesg-box ul li.me p {
    text-align: left;
    background: #5790df;
    color: #fff;
    border-radius: 3rem 3rem 0px 3rem;
    padding: 1.2rem 4rem 1.2rem 1.8rem;
    position: relative;
}

.conversation-head {
    display: inline-block;
    padding: 1rem 2rem;
    width: 100%;
    background: #181818;
}

.conversation-head > figure {
    display: inline-block;
    margin-bottom: 0;
    max-width: 45px;
    vertical-align: middle;
    width: 45px;
}

.conversation-head > span {
    display: inline-block;
    font-weight: bold;
    line-height: initial;
    margin-left: 1rem;
    text-transform: capitalize;
    vertical-align: middle;
    width: 83%;
    font-size: 1.8rem;
}

.conversation-head > span svg {
    color: #838383;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: normal;
    line-height: initial;
    width: 100%;
}

.message-text-container textarea {
    box-sizing: content-box;
    color: #000;
    height: 2rem;
    overflow-x: hidden;
    overflow-y: auto;
    resize: none;
    display: inline-block;
    flex-grow: 6;
    margin-right: 0.5vw;
    border-radius: 50px;
    padding: 1.2rem 1.5rem 0.8rem 1.5rem;
    background: #fff;
    border: none;
    line-height: 1.5rem;
}

.message-text-container textarea #placeholder {
    color: rgb(225 225 225);
}

.message-text-container form {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.message-text-container form button {
    border-radius: 100%;
    height: 3rem;
    padding: 0;
    text-align: center;
    background: transparent;
    color: rgb(247, 249, 249);
    font-size: 2rem;
}

.message-text-container form button img {
    max-height: 25px;
    transform: rotate(45deg);
}

.messages-additional-icons {
    background: #fff;
    border-radius: 2rem;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    font-size: 1.7rem;
    padding: 0 1rem;
}

.messages-additional-icons svg {
    color: #000;
    margin: 0 5px;
}

/*--- load more ---*/

/*--- sticky sidebar End ---*/

/*--- 100% radius images ---*/

#people-list figure img,
.new-postbox > figure img,
.friend-info > figure img,
.nearly-pepls > figure img,
.peoples .dialogs-list__item figure img,
.conversation-head > figure img,
.peoples-mesg-box ul li figure img {
    border-radius: 100%;
}

/*--- side chat message box ---*/

.text-box {
    position: relative;
}

.text-box > textarea {
    font-size: 1.4rem;
    height: 50px;
    line-height: 27px;
    border-radius: 0;
    background: #f0f0f0;
}

.text-box > button {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
}

.search-users {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
    font-size: 1.5rem;
    padding: 1.1rem 3rem 0.9rem 3rem;
    margin: 2rem 1rem;
    display: flex;
    align-items: center;
    color: rgb(247, 249, 249);
}

.search-users.pointer {
    cursor: pointer;
}

.search-users input {
    background: none;
    border: none;
    color: rgb(247, 249, 249);
    font-size: 1.8rem;
}

.search-users svg {
    margin-right: 1.5rem;
}

.message-list {
    list-style: outside none none;
    margin: 0;
    padding: 0 3rem;
    width: 100%;
    max-height: 690px;
    position: relative;
    box-shadow: 0 1px 3px #ccc;
}

.message-list > li {
    border-bottom: 1px solid #e8ecec;
    padding-bottom: 2.2rem;
    padding-top: 2.2rem;
    width: 100%;
}

.message-list > li > .select-message {
}

.message-list > li > p {
    margin: 5px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    cursor: pointer;
}

.message-list > li > a {
    color: #afafaf;
    display: inline-block;
    font-size: 1.3rem;
    margin-left: 40px;
}

.checkbox label {
    color: #676767;
}

.row.widget-page {
    padding: 0 8rem;
}

.row.widget-page aside.sidebar {
    width: 100%;
}

@keyframes slidedown {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -2000px 2000px;
    }
}

@keyframes slide {
    0% {
        background-position: 0 0;
        background-position-x: 0px;
        background-position-y: 0px;
    }

    100% {
        background-position: -4000px 0;
        background-position-x: -4000px;
        background-position-y: 0px;
    }
}

/*--- logout page ---*/

.logout-meta {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.logout-meta > h2 {
    display: inline-block;
    font-size: 3.6rem;
    font-weight: 300;
    margin-bottom: 2rem;
    text-transform: uppercase;
    width: 100%;
}

.logout-meta > span {
    display: inline-block;
    margin-bottom: 6px;
    width: 100%;
    color: #515365;
    font-weight: bold;
}

.logout-meta > p {
    display: block;
    letter-spacing: 0.3px;
    margin: 0 auto;
    max-width: 40%;
}

.logout-meta > p a {
    color: red;
}

/*--- full sidebar --*/

.globalPreloader {
    flex-direction: column;
    height: 100vh;
    position: fixed;
    width: 100vw;
}
.globalPreloader,
.preloader {
    align-items: center;
    display: flex;
    justify-content: center;
}

.preloader {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preloader.shown {
    display: flex;
}

.preloader.hidden {
    display: none;
}

.preloader.small {
    width: 100%;
    height: 100px;
    padding: 2rem 0;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
}

.loader.small {
    width: 25px;
    height: 25px;
}

.loader::before,
.loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #fff;
    animation: prixClipFix 2s linear infinite;
}

.loader::after {
    transform: rotate3d(90, 90, 0, 180deg);
    border-color: #5790df;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }

    75%,
    100% {
        clip-path: polygon(
            50% 50%,
            0 0,
            100% 0,
            100% 100%,
            100% 100%,
            100% 100%
        );
    }
}

.user-nav {
    position: relative;
}

.user-nav .add-butn {
    display: block;
    text-align: center;
    margin: 0 2rem 2rem 2rem;
}

.user-nav__info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    max-height: 70px;
    padding: 1rem 0;
    border-radius: 3rem;
    transition: all 0.3s ease-in-out;
    margin-bottom: 1rem;
    padding-right: 1rem;
}

.user-nav__info:hover {
    background: rgba(255, 255, 255, 0.1);
}

.user-img img {
    height: 50px;
    min-height: 50px;
    width: 50px;
    min-width: 50px;
    border-radius: 50px;
}

.user-name .status {
    color: rgb(183 183 183);
    font-size: 1.4rem;
    font-weight: 400;
}

.user-name .name {
    max-width: 11.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.user-nav__info-wrapper {
    display: flex;
    align-items: center;
}

.user-nav__info-wrapper .status {
    margin-top: 5px;
}

.user-nav__info .user-img {
    margin-right: 1.5rem;
}

.open-subnav {
    display: flex;
    align-items: center;
    font-size: 2.1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.user-nav__subnav {
    position: absolute;
    bottom: -200%;
    transition: all 0.2s ease-in-out;
    min-height: 70px;
    width: 100%;
    justify-content: space-around;
    display: flex;
    box-shadow: rgba(136, 153, 166, 0.2) 0px 0px 1.5rem,
        rgba(136, 153, 166, 0.15) 0px 0px 3px 1px;
    align-items: center;
    border-radius: 3rem;
    flex-direction: column;
    opacity: 0;
    overflow: hidden;
}

.user-nav__subnav.active {
    bottom: 100%;
    opacity: 1;
    background: #181818;
    z-index: 99;
}

.user-nav__subnav-element span {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    position: relative;
    text-overflow: ellipsis;
}

.user-nav__subnav-element {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    transition: all 0.3s ease-in-out;
    padding: 1.5rem 2.5rem;
}

.user-nav__subnav-element:first-child {
    padding-top: 2rem;
    opacity: 0.3;
}

.user-nav__subnav-element:first-child:hover {
    background: none;
}

.user-nav__subnav-element:last-child {
    padding-bottom: 2.5rem;
}

.user-nav__subnav-element:hover {
    background: rgba(255, 255, 255, 0.1);
}

@keyframes error {
    0% {
        top: 0;
        opacity: 0;
    }

    100% {
        top: 5%;
        opacity: 1;
    }
}

.loadMore {
    padding: 2rem 4rem;
    max-height: 50vh;
    overflow-y: scroll;
}

.opacity-animation {
    animation-name: opacityAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-play-state: running;
    transition: opacity 0.3s ease-in-out;
}

@keyframes opacityAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.edit-social-media {
    cursor: pointer;
    padding-left: 1rem;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    width: 30px;
    height: 19px;
    background-repeat: no-repeat;
    background-position: center right;
}
.edit-social-media.edit-icon {
    background-image: url("../img/icons/edit-profile.svg");
}

.edit-social-media.close-icon {
    background-image: url("../img/icons/close.svg");
}
.edit-profile-form input[name="fullName"] {
    margin-bottom: 5px;
    width: auto;
}

.sidebarHeader {
    font-size: 2rem;
    font-weight: 700;
    padding: 3rem 1.5rem;
}
.sidebarHeader.flex {
    padding: 4rem 4rem;
}
.peoples .sidebarHeader {
    padding: 2rem 2rem 0 2rem;
    display: flex;
    justify-content: space-between;
    max-height: 4vh;
}

.peoples .sidebarHeader svg {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.peoples .sidebarHeader svg:hover {
    transform: scale(1.2);
}

.form-group svg {
    margin-left: 1rem;
}

@-webkit-keyframes fx {
    50% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fx {
    50% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.checkbox-label {
    margin-left: 5px;
    cursor: pointer;
}

span.text a {
    margin-left: 5px;
}

.small-subtitle {
    font-size: 1.4rem;
    line-height: 1rem;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.small-subtitle svg {
    margin-right: 7px;
}

.small-subtitle .text {
    margin-right: 7px;
}

#root .hidden {
    position: absolute;
    top: -500vh;
    opacity: 0;
    width: 80%;
}

#root .shown {
    position: static;
    top: initial;
    opacity: 1;
    width: 100%;
}

.gray-bg {
    width: 100%;
}

.profile-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-height: 100px;
}

.fetch-error {
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fetch-error .text {
    margin-right: 7px;
}

.mesages-lists > form {
    left: 50%;
    max-width: 92%;
    position: absolute;
    top: 40px;
    transform: translate(-50%);
    width: 100%;
}

.loader.large {
    width: 70px;
    height: 70px;
}

.local-error {
    background: #c00;
    border-radius: 2rem;
    padding: 1.5rem 3rem;
    position: absolute;
    z-index: 99;
    margin: 0 2rem;
    width: 37%;
    animation-name: error;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-play-state: running;
}

.captcha {
    margin-top: 2rem;
}

.notAuthorized {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
}
.notAuthorized .add-butn {
    margin: 2rem 0 0 0;
}
.sidebar .widget .notAuthorized .add-butn:hover {
    background: #5790df;
}
.mr-20 {
    margin-right: 2rem;
}
.mt-20 {
    margin-top: 20px;
}
.additionalLinks {
    display: flex;
    padding: 2rem 0;
}
.registration-link {
    margin-left: 20px;
    text-decoration: underline;
}
.editing-info {
    padding: 0 4rem;
}

.modalWindow__wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);
    z-index: 999;
}
.modalWindow {
    width: auto;
    height: auto;
    background: #181818;
    box-shadow: rgba(136, 153, 166, 0.2) 0px 0px 1.5rem,
        rgba(136, 153, 166, 0.15) 0px 0px 3px 1px;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 5rem 5rem;
}
.modalWindow img {
    max-width: 80%;
    margin-bottom: 3rem;
}
.modalWindow a {
    text-decoration: underline;
}
.confirmation-modal .text {
    margin: 2rem 0 6rem 0;
}
.close {
    position: absolute;
    right: 3rem;
    top: 2rem;
    color: #fff;
    cursor: pointer;
}
.close path {
    fill: #fff;
}
.apiKey {
    display: inline-block;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.apiKey:hover {
    text-decoration: underline;
    opacity: 0.7;
}
.apiKey svg {
    margin-left: 1rem;
}
.dot {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid white;
    border-radius: 50%;
    margin: 0 7px;
    transform: scale(0);
    -webkit-animation: fx 1000ms ease infinite 0ms;
    animation: fx 1000ms ease infinite 0ms;
}
.dot:nth-child(2) {
    -webkit-animation: fx 1000ms ease infinite 300ms;
    animation: fx 1000ms ease infinite 300ms;
}
.dot:nth-child(3) {
    -webkit-animation: fx 1000ms ease infinite 600ms;
    animation: fx 1000ms ease infinite 600ms;
}

.appError {
    padding-top: 10rem;
}

.errors-component {
    position: fixed;
    top: 2rem;
    left: 0;
    right: 0;
    margin: auto;
    padding: 2rem 2rem 1rem 2rem;
    width: 80vw;
    max-width: 80vw;
    border-radius: 2rem;
    background: #ff595a;
    z-index: 100000;
    text-align: center;
    justify-content: center;
}
.errors-component__single-error {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    text-align: center;
}
.errors-component__close-icon {
    position: absolute;
    right: 2rem;
    max-height: 2rem;
    top: 0;
    bottom: 0;
    cursor: pointer;
    margin: auto;
}

.scroll-bottom {
    position: absolute;
    right: 3rem;
    bottom: 8vh;
    cursor: pointer;
    background: #fff;
    border-radius: 30%;
}
