.sidebar .widget .naves .naves-links__item.inbox {
    display: none;
}

@media (max-width: 1199px) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 992px) {
    .sidebar .widget .naves .naves-links__item.inbox {
        display: block;
    }
    .main-wrapper {
        flex-direction: column-reverse;
    }
    .container {
        max-width: 100%;
    }
    .central-meta {
        max-width: 100%;
        height: 90vh;
        overflow: hidden;
        flex: initial;
    }
    .sidebar {
        &.right {
            max-width: none;
            display: none;
        }
        &.left {
            max-width: 100%;
            height: 10vh;
            padding: 1rem 2rem;
            box-shadow: rgba(136, 153, 166, 0.2) 0px 0px 1.5rem,
                rgba(136, 153, 166, 0.15) 0px 0px 3px 1px;
            & .widget {
                flex-direction: row;
            }
            flex: initial;
        }
    }
    .nearly-pepls > figure {
        max-width: 40px;
        min-width: 40px;
        width: 40px;
    }
    .naves {
        display: flex;
        align-items: center;
        &-links {
            display: flex;
        }
    }
    .main-logo {
        margin: 0 3rem 0 0;
        width: 27px;
        &__text {
            display: none;
        }
    }
    .user-nav {
        &__info {
            padding: 1rem 1.5rem;
            margin: 0;
        }
    }
    .nearby-contct {
        max-height: 82vh;
    }
    .sidebar .widget .naves .naves-links__item {
        margin-right: 1rem;
    }
    .user-img img {
        width: 35px;
        min-width: 35px;
        height: 35px;
        min-height: 35px;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 8px;
    }
    .sidebar .widget .naves .naves-links__item {
        padding: 1.5rem 2rem;
        & span {
            display: none;
        }
        & svg,
        & img {
            margin: 0;
            height: 20px;
        }
    }
}

@media (max-width: 500px) {
    .main-logo {
        display: none;
    }
    .nearly-pepls {
        width: 49%;
    }
    .user-nav .user-name {
        display: none;
    }
    .user-nav__subnav {
        width: 200%;
        left: -100%;
    }
    .user-nav__subnav.active {
        bottom: 140%;
    }
}
